body {
    background-color: #2ecc71;
    font-family: source-sans-pro, sans-serif;
  }
  
  h1 {
    /* margin-left: auto; */
    margin-top: 50px;
    text-align: center;
    margin-left: -70px;
    /* font-weight: 100;
    font-size: 2.8em; */
    color: black;
  }
  
  div {
    width: 500px;
    margin: auto;
  }
  
  .formStyle { 
    background-color: #2ecc71;
    padding: 20px; 
    width: 400px; 
    border: 1px solid;
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: black;
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 16px;
    font-weight: 100;
    color: black;
  }
  
  .formButton {
     
      background-color: black;
      display:inline-block;
      color:green;
      font-size:28px;
      font-weight: 500;
      padding:6px 24px;
      margin-top: 15px;
      margin-right: 60px;
      text-decoration:none;
  }
  
  .formButton:hover {
      background-color: #27ae60;
      /* color:#ffffff; */
      color:blue;
  }
  
  .formButton:active {
      position:relative;
      top:3px;
  }
  /* .div1{
      border: 3px solid; 
      border-color: black;
      box-sizing: border-box; 
      width: 100px;
      height: 100px;  
      padding: 50px;
   border: 1px solid red;
     
  }  */
  
  